.cabecalho{
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    align-items: center;
    position: relative;

}

.cabecalho__menu-hamburguer{
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.conteiner__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;
    background-color: var( --branco);
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}

.lista-menu__titulo{
    font-weight: 700;
    color: var( --amarelo);
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__link{
    color: var( --roxo);
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;

}

.container__botao:checked~.lista__menu{

    display: block;
}

.container__titulo{
    display: none;
}

@media screen and (min-width:1024px) {

    .cabecalho__menu{
        display: none;
    }
    .container__imagem{
        display: none;
    }
    .container__titulo{
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight:300;
        font-size: 30px;

    }
    .container__titulo--negrito{
        font-weight:700;
    }
}